wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.fomento.org/VTCService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://mfom.com/vtc" name="VTCService" targetNamespace="http://www.fomento.org/VTCService/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mfom.com/vtc" targetNamespace="http://mfom.com/vtc" version="1.0">

  <xs:element name="qaltavtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:ABODYTYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="qanulacionvtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:NBODYTYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="qconsultavtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:CBODYTYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="qiniciovtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:IBODYTYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="qmodificacionvtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:MBODYTYPE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="raltavtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:ABODYTYPERES"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ranulacionvtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:ABODYTYPERES"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="rconsultavtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:CBODYTYPERES"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="riniciovtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:ABODYTYPERES"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="rmodificacionvtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:HEADERTYPE"/>
        <xs:element name="body" type="tns:ABODYTYPERES"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HEADERTYPE">
    <xs:sequence/>
    <xs:attribute name="version" type="xs:string" use="required"/>
    <xs:attribute name="versionsender" type="xs:string" use="required"/>
    <xs:attribute name="fecha" type="xs:dateTime" use="required"/>
  </xs:complexType>

  <xs:complexType name="CBODYTYPE">
    <xs:sequence>
      <xs:element name="vtcconsulta" type="tns:EVTCCONSULTA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EVTCCONSULTA">
    <xs:sequence/>
    <xs:attribute name="idservicio" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="CBODYTYPERES">
    <xs:sequence>
      <xs:element name="vtcservicio" type="tns:EVTCSERVICIOEMPRE"/>
    </xs:sequence>
    <xs:attribute name="resultado" type="xs:string" use="required"/>
    <xs:attribute name="iderror" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="EVTCSERVICIOEMPRE">
    <xs:sequence/>
    <xs:attribute name="matricula" type="xs:string" use="required"/>
    <xs:attribute name="niftitular" type="xs:string" use="required"/>
    <xs:attribute name="nif" type="xs:string"/>
    <xs:attribute name="nom" type="xs:string"/>
    <xs:attribute name="nombtitular" type="xs:string"/>
    <xs:attribute name="cgprovcontrato" type="xs:string" use="required"/>
    <xs:attribute name="cgmunicontrato" type="xs:string" use="required"/>
    <xs:attribute name="numa" type="xs:string"/>
    <xs:attribute name="fcontrato" type="xs:dateTime" use="required"/>
    <xs:attribute name="cgprovinicio" type="xs:string" use="required"/>
    <xs:attribute name="cgmuniinicio" type="xs:string" use="required"/>
    <xs:attribute name="direccioninicio" type="xs:string" use="required"/>
    <xs:attribute name="fprevistainicio" type="xs:dateTime" use="required"/>
    <xs:attribute name="finicio" type="xs:dateTime"/>
    <xs:attribute name="cgprovfin" type="xs:string"/>
    <xs:attribute name="cgmunifin" type="xs:string"/>
    <xs:attribute name="direccionfin" type="xs:string"/>
    <xs:attribute name="ffin" type="xs:date" use="required"/>
    <xs:attribute name="cgprovlejano" type="xs:string"/>
    <xs:attribute name="cgmunilejano" type="xs:string"/>
    <xs:attribute name="direccionlejano" type="xs:string"/>
    <xs:attribute name="fanulacion" type="xs:dateTime"/>
    <xs:attribute name="veraz" type="tns:IDVERAZ" use="required"/>
  </xs:complexType>

  <xs:complexType name="ABODYTYPE">
    <xs:sequence>
      <xs:element name="vtcservicio" type="tns:EVTCSERVICIOEMPRE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ABODYTYPERES">
    <xs:sequence>
      <xs:element minOccurs="0" name="vtcservicio" type="tns:EVTCSERVICIORESPUESTA"/>
    </xs:sequence>
    <xs:attribute name="resultado" type="xs:string" use="required"/>
    <xs:attribute name="iderror" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="EVTCSERVICIORESPUESTA">
    <xs:sequence/>
    <xs:attribute name="idservicio" type="xs:long" use="required"/>
    <xs:attribute name="idcomunica" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="NBODYTYPE">
    <xs:sequence>
      <xs:element name="vtcservicio" type="tns:EVTCANULACION"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EVTCANULACION">
    <xs:sequence/>
    <xs:attribute name="idservicio" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="MBODYTYPE">
    <xs:sequence>
      <xs:element name="vtcservicio" type="tns:EVTCMODIFICA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EVTCMODIFICA">
    <xs:sequence/>
    <xs:attribute name="idservicio" type="xs:long" use="required"/>
    <xs:attribute name="cgprovfin" type="xs:string"/>
    <xs:attribute name="cgmunifin" type="xs:string"/>
    <xs:attribute name="direccionfin" type="xs:string"/>
    <xs:attribute name="cgprovlejano" type="xs:string"/>
    <xs:attribute name="cgmunilejano" type="xs:string"/>
    <xs:attribute name="direccionlejano" type="xs:string"/>
    <xs:attribute name="matricula" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="IBODYTYPE">
    <xs:sequence>
      <xs:element name="vtcservicio" type="tns:EVTCINICIO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EVTCINICIO">
    <xs:sequence/>
    <xs:attribute name="idservicio" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="EVTCSERVICIO">
    <xs:sequence/>
    <xs:attribute name="niftitular" type="xs:string" use="required"/>
    <xs:attribute name="nombtitular" type="xs:string" use="required"/>
    <xs:attribute name="nifarrendador" type="xs:string" use="required"/>
    <xs:attribute name="nombarrendador" type="xs:string" use="required"/>
    <xs:attribute name="nifarrendatario" type="xs:string" use="required"/>
    <xs:attribute name="nombarrendatario" type="xs:string" use="required"/>
    <xs:attribute name="nombprovcontrato" type="xs:string" use="required"/>
    <xs:attribute name="nombmunicontrato" type="xs:string" use="required"/>
    <xs:attribute name="cgprovcontrato" type="xs:string" use="required"/>
    <xs:attribute name="cgmunicontrato" type="xs:string" use="required"/>
    <xs:attribute name="fcontrato" type="xs:dateTime" use="required"/>
    <xs:attribute name="matricula" type="xs:string" use="required"/>
    <xs:attribute name="numa" type="xs:string" use="required"/>
    <xs:attribute name="ccaaautoriza" type="xs:string" use="required"/>
    <xs:attribute name="nombccaaautoriza" type="xs:string" use="required"/>
    <xs:attribute name="ccaainicio" type="xs:string" use="required"/>
    <xs:attribute name="nombccaainicio" type="xs:string" use="required"/>
    <xs:attribute name="nombprovinicio" type="xs:string" use="required"/>
    <xs:attribute name="nombmuniinicio" type="xs:string" use="required"/>
    <xs:attribute name="cgprovinicio" type="xs:string" use="required"/>
    <xs:attribute name="cgmuniinicio" type="xs:string" use="required"/>
    <xs:attribute name="direccioninicio" type="xs:string" use="required"/>
    <xs:attribute name="fprevistainicio" type="xs:dateTime" use="required"/>
    <xs:attribute name="finicio" type="xs:dateTime"/>
    <xs:attribute name="ccaafin" type="xs:string" use="required"/>
    <xs:attribute name="nombccaafin" type="xs:string" use="required"/>
    <xs:attribute name="nombprovfin" type="xs:string" use="required"/>
    <xs:attribute name="nombmunifin" type="xs:string" use="required"/>
    <xs:attribute name="cgprovfin" type="xs:string" use="required"/>
    <xs:attribute name="cgmunifin" type="xs:string" use="required"/>
    <xs:attribute name="direccionfin" type="xs:string" use="required"/>
    <xs:attribute name="ffin" type="xs:date" use="required"/>
    <xs:attribute name="ccaalejano" type="xs:string" use="required"/>
    <xs:attribute name="nombccaalejano" type="xs:string" use="required"/>
    <xs:attribute name="nombprovlejano" type="xs:string"/>
    <xs:attribute name="nombmunilejano" type="xs:string"/>
    <xs:attribute name="cgprovlejano" type="xs:string"/>
    <xs:attribute name="cgmunilejano" type="xs:string"/>
    <xs:attribute name="direccionlejano" type="xs:string"/>
    <xs:attribute name="infraccion" type="xs:string" use="required"/>
    <xs:attribute name="fanulacion" type="xs:dateTime"/>
  </xs:complexType>

  <xs:complexType name="EVTCSERVICIOS">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="vtcservicio" type="tns:EVTCSERVICIO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="IDVERAZ">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.fomento.org/VTCService/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.fomento.org/VTCService/">
  <xsd:element name="SOAPException" type="tns:SOAPException"/>
  <xsd:complexType name="SOAPException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="InicioDeServicioResponse">
    <wsdl:part element="ns1:riniciovtc" name="priniciovtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AnulacionDeServicio">
    <wsdl:part element="ns1:qanulacionvtc" name="pqiniciovtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ModificacionDeServicio">
    <wsdl:part element="ns1:qmodificacionvtc" name="pqmodificacionvtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaDeServicioResponse">
    <wsdl:part element="ns1:rconsultavtc" name="prconsultavtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AnulacionDeServicioResponse">
    <wsdl:part element="ns1:ranulacionvtc" name="priniciovtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaDeServicio">
    <wsdl:part element="ns1:qconsultavtc" name="pqconsultavtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AltaDeServicio">
    <wsdl:part element="ns1:qaltavtc" name="pqaltavtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InicioDeServicio">
    <wsdl:part element="ns1:qiniciovtc" name="pqiniciovtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part element="tns:SOAPException" name="SOAPException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AltaDeServicioResponse">
    <wsdl:part element="ns1:raltavtc" name="praltavtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ModificacionDeServicioResponse">
    <wsdl:part element="ns1:rmodificacionvtc" name="prmodificacionvtc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="VTCPort">
    <wsdl:operation name="ConsultaDeServicio">
      <wsdl:input message="tns:ConsultaDeServicio" name="ConsultaDeServicio">
    </wsdl:input>
      <wsdl:output message="tns:ConsultaDeServicioResponse" name="ConsultaDeServicioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SOAPException" name="SOAPException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AltaDeServicio">
      <wsdl:input message="tns:AltaDeServicio" name="AltaDeServicio">
    </wsdl:input>
      <wsdl:output message="tns:AltaDeServicioResponse" name="AltaDeServicioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SOAPException" name="SOAPException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AnulacionDeServicio">
      <wsdl:input message="tns:AnulacionDeServicio" name="AnulacionDeServicio">
    </wsdl:input>
      <wsdl:output message="tns:AnulacionDeServicioResponse" name="AnulacionDeServicioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SOAPException" name="SOAPException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModificacionDeServicio">
      <wsdl:input message="tns:ModificacionDeServicio" name="ModificacionDeServicio">
    </wsdl:input>
      <wsdl:output message="tns:ModificacionDeServicioResponse" name="ModificacionDeServicioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SOAPException" name="SOAPException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InicioDeServicio">
      <wsdl:input message="tns:InicioDeServicio" name="InicioDeServicio">
    </wsdl:input>
      <wsdl:output message="tns:InicioDeServicioResponse" name="InicioDeServicioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SOAPException" name="SOAPException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VTCServiceSoapBinding" type="tns:VTCPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaDeServicio">
      <soap:operation soapAction="http://www.fomento.org/VTCService/Consulta" style="document"/>
      <wsdl:input name="ConsultaDeServicio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ConsultaDeServicioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AltaDeServicio">
      <soap:operation soapAction="http://www.fomento.org/VTCService/AltaDeServicio" style="document"/>
      <wsdl:input name="AltaDeServicio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AltaDeServicioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AnulacionDeServicio">
      <soap:operation soapAction="http://www.fomento.org/VTCService/Anulacion" style="document"/>
      <wsdl:input name="AnulacionDeServicio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AnulacionDeServicioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModificacionDeServicio">
      <soap:operation soapAction="http://www.fomento.org/VTCService/Modificacion" style="document"/>
      <wsdl:input name="ModificacionDeServicio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ModificacionDeServicioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InicioDeServicio">
      <soap:operation soapAction="http://www.fomento.org/VTCService/Inicio" style="document"/>
      <wsdl:input name="InicioDeServicio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="InicioDeServicioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VTCService">
    <wsdl:port binding="tns:VTCServiceSoapBinding" name="VTCPortImplPort">
      <soap:address location="http://sede.transportes.gob.es/MFOM.Services.VTC.Server/VTCPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>